Repository bermarte/encapsulation-list-prototype, pull requests merged in 2021-01, with the labels that each got.

#7 modified the view
  public/css/bootstrap.css
  public/css/bootstrap.min.css
  public/css/style.css
  public/index.html
Labels: help wanted

#8 Todo class and object creation plus delete single todo
  public/css/style.css
  public/index.html
  src/classes/Todo.js
  src/handlers/createUI.js
  src/init.js
  src/listeners/add.js
Labels: Classes

#11 the edit part is partially done
  src/classes/Todo.js
Labels: edi todo

#15 handler & listener of delete all list files
  src/handlers/delete-todo-list.js
  src/listeners/delete -todo-list.js
Labels: Delete all to-do list

#14 form validation checks if the field is empty
  public/index.html
  src/classes/Todo.js
  src/handlers/createUI.js
Labels: Add Item, To-do list

#17 separated class
  src/classes/Todo.js
  src/classes/validator.js
  src/handlers/createUI.js
Labels: To-do list, validation

#18 remove return from constructor
  src/classes/Todo.js
  src/handlers/createUI.js
Labels: Classes

#20 delete all function
  public/index.html
  src/handlers/createUI.js
  src/handlers/delete-todo-list.js
  src/handlers/deleteTodoList.js
  src/init.js
  src/listeners/delete -todo-list.js
  src/listeners/delete.js
Labels: delete todo

#21 added localStorage
  public/css/style.css
  public/index.html
  src/handlers/deleteTodoList.js
  src/handlers/loadTodos.js
  src/handlers/saveLocal.js
  src/init.js
  src/listeners/loadPage.js
  src/listeners/save.js
Labels: add todo

#23 Refactor
  .gitignore
  DOCS.md
  README.md
  lib/document.js
  package-lock.json
  package.json
  public/css/all.css
  public/css/bootstrap.min.css
  public/css/fontawesome.css
  public/index.html
  src/classes/Todo.js
  src/classes/Validator.js
  src/handlers/createUI.js
  src/handlers/deleteTodoList.js
  src/handlers/loadTodos.js
  src/handlers/saveLocal.js
Labels: documentation, refactor
